<tui-doc-page
    header="Number"
    package="KIT"
>
    <ng-template pageTab>
        Use
        <code>maskitoNumberOptionsGenerator</code>
        to create a mask for entering a formatted number.

        <tui-notification class="tui-space_top-4">
            Despite the name of the mask, element's raw value is still string.

            <p>
                Use
                <code>maskitoParseNumber</code>
                to get number-type value.
            </p>

            <tui-doc-code [code]="maskitoParseNumberDemo"></tui-doc-code>
        </tui-notification>

        <tui-doc-example
            id="high-precision"
            heading="High precision"
            [content]="highPrecisionExample1"
            [description]="precisionDescription"
        >
            <ng-template #precisionDescription>
                Use
                <code>precision</code>
                parameter to configure the number of digits after decimal
                separator.
            </ng-template>
            <number-mask-doc-example-1></number-mask-doc-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="separators"
            heading="Separators"
            [content]="separatorsExample2"
            [description]="separatorsDescription"
        >
            <ng-template #separatorsDescription>
                Use
                <code>decimalSeparator</code>
                and
                <code>thousandSeparator</code>
                to get mask with locale specific representation of numbers.
            </ng-template>
            <tui-notification
                class="tui-space_bottom-4"
                [style.max-width.rem]="30"
            >
                In Germany people use comma as decimal separator and dot for
                thousands
            </tui-notification>
            <number-mask-doc-example-2></number-mask-doc-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="decimal-zero-padding"
            heading="Decimal zero padding"
            [content]="decimalZeroPaddingExample3"
            [description]="decimalZeroPaddingDescription"
        >
            <ng-template #decimalZeroPaddingDescription>
                Set
                <code>decimalZeroPadding: true</code>
                to always show trailing zeroes.
            </ng-template>
            <number-mask-doc-example-3></number-mask-doc-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="dynamic-decimal-zero-padding"
            heading="Dynamic decimal zero padding"
            [content]="decimalZeroPaddingExample4"
            [description]="dynamicDecimalZeroPaddingDescription"
        >
            <ng-template #dynamicDecimalZeroPaddingDescription>
                <div>
                    You can change options on the fly to build complex logic.
                </div>
                <div>
                    This example shows how to initially disable
                    <code>decimalZeroPadding</code>
                    and enable it only after user inserts decimal separator.
                </div>
            </ng-template>
            <number-mask-doc-example-4></number-mask-doc-example-4>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="apiPageControl">
            <ng-template>
                <tui-input
                    tuiHintContent="Only digits (+ decimal separator) are allowed"
                    [formControl]="apiPageControl"
                >
                    Enter a number
                    <input
                        tuiTextfield
                        inputmode="decimal"
                        [maskito]="maskitoOptions"
                    />
                </tui-input>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="isNegativeAllowed"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="isNegativeAllowed"
                (documentationPropertyValueChange)="updateOptions()"
            >
                Allows to input negative sign (minus).

                <p>
                    <strong>Default:</strong>
                    <code>true</code>
                    .
                </p>
            </ng-template>
            <ng-template
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="max"
                (documentationPropertyValueChange)="updateOptions()"
            >
                The greatest permitted value.

                <p>
                    <strong>Default:</strong>
                    <code>Number.MAX_SAFE_INTEGER</code>
                    .
                </p>
            </ng-template>
            <ng-template
                documentationPropertyName="precision"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="precision"
                (documentationPropertyValueChange)="updateOptions()"
            >
                A number of digits after
                <code>decimalSeparator</code>
                .

                <p>
                    <strong>Default:</strong>
                    <code>0</code>
                    (decimal part is forbidden).
                </p>
            </ng-template>
            <ng-template
                documentationPropertyName="decimalSeparator"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="decimalSeparator"
                (documentationPropertyValueChange)="updateOptions()"
            >
                Symbol for separating fraction.

                <p>
                    <strong>Default:</strong>
                    dot.
                </p>
            </ng-template>
            <ng-template
                documentationPropertyName="decimalPseudoSeparators"
                documentationPropertyMode="input"
                documentationPropertyType="string[]"
                [documentationPropertyValues]="decimalPseudoSeparatorsOptions"
                [(documentationPropertyValue)]="decimalPseudoSeparators"
                (documentationPropertyValueChange)="updateOptions()"
            >
                Symbols to be replaced with
                <code>decimalSeparator</code>
                .

                <p>
                    <strong>Default:</strong>
                    <code>['.', 'ю', 'б']</code>
                    .
                </p>
            </ng-template>
            <ng-template
                documentationPropertyName="decimalZeroPadding"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="decimalZeroPadding"
                (documentationPropertyValueChange)="updateOptions()"
            >
                If number of digits after
                <code>decimalSeparator</code>
                is
                <strong>always equal</strong>
                to the
                <code>precision</code>
                .

                <p>
                    <strong>Default:</strong>
                    <code>false</code>
                    (number of digits can be less than precision) .
                </p>
            </ng-template>
            <ng-template
                documentationPropertyName="thousandSeparator"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="thousandSeparator"
                (documentationPropertyValueChange)="updateOptions()"
            >
                Symbol for separating thousands.

                <p>
                    <strong>Default:</strong>
                    non-breaking space.
                </p>
            </ng-template>
        </tui-doc-documentation>
    </ng-template>
</tui-doc-page>
